/*all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.text_opacity {
    color: rgba( 255, 255, 255, 0.7);
}

body {
    font-family: 'Montserrat', sans-serif;
}
/*section*/
main {
    height: calc(100vh - 70px);
    display: flex;
}

#aside {
    width: 240px;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

#main-content {
    width: calc(100% - 240px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

#player {
    height: 70px;
    background-color: #282828;
}
/*typo*/
.btn_action span {
    font-size: 20px;
}

.profile_name {
    font-weight: bold;
}
/*button*/
.btn_action {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}
/*aside*/
.logo {
    max-width: 75%;
    padding: 20px 20px;
}

svg {
    fill: white;
    width: 100%;
}

.nav_primary_link, .playlist_link {
    display: inline-block;
    margin-bottom: 15px;
}
/*menu*/
.nav_logo svg {
    width: 100%;
    fill: white;
}

.nav_logo {
    width: 15%;
}

.nav_primary_link {
    opacity: 0.7;
    padding: 0  20px;
    display: flex;
    align-items: center;
}

.link_active {
    opacity: 1;
    border-left: 2px solid #7CB721;
}

.nav_primary_link:hover {
    opacity: 1;
}
/*playlist*/
.playlist {
    padding: 0 20px;
}

.playlist h3 {
    padding: 10px 0;
}

.playlist_overfow {
    overflow: auto;
}

.playlist_list {
    padding-left: 20px;
    text-transform: capitalize;
}

.nav_logo {
    margin-right: 5px;
}

.logo_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 255, 255, 255, 0.7);
    color: black;
    height: 30px;
    width: 30px;
    font-size: 17px;
    margin-right: 10px;

}


/*main*/
/*navbar*/
.genere_list {
    width: 60%;
    margin: auto;
    text-transform: uppercase;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.current_genere {
    color: white;
}

.current_genere::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: #7CB721;
}
/*installa*/
.installa {
    display: flex;
    align-items: center;
}

.install_logo {
    width: 12%;
    margin-right: 15px;
    display: flex;
}

.area_profilo {
    padding: 20px;
    margin-top: auto;
}

.area_profilo hr {
    background-color: white;
}

.profile {
    display: flex;
    align-items: center;
}

.profile_logo {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.installa, .profile {
    padding: 10px 0;
}

.phone_menu {
    display: none;
    height: 100%;
}

.phone_nav_logo, .phone_install_logo, .phone_profile_logo {
    width: 43%;
    margin: 5px 0;
}

.phone_nav_primary, .phone_area_profilo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_action:hover, .new_playlist:hover {
    color: rgba( 255, 255, 255, 1);
}

.new_playlist:hover.logo_button {
    background-color: rgba( 255, 255, 255, 1);
}

.playlist_link:hover {
    color: rgba( 255, 255, 255, 1);
}

.installa_action:hover {
    color: rgba( 255, 255, 255, 1);
}

@media screen and (max-width: 576px) {
    #aside {
        width: 50px;
    }

    .phone_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo, .nav_primary, .playlist, .playlist_overfow, .area_profilo {
        display: none;
    }

    #main-content {
        width: calc(100% - 50px);
    }



}
